#titulo{
    width: 50vw;
    text-align: center;
}
.input-group p{
padding: 0 10px;
width: 100%;
}

form .input-group p input {
    width: 100%;
    height: 60px;
    color: #333;
    border: 1px solid #dcdce6;
    border-radius: 8px;
    padding: 0 5px;
  }

.relatorio{
    padding: 50px 10% 0 10%!important;
    max-width: 100%!important;
    color: #737380;  
}

.relatorio h2{
    text-align: center;
    font-size: 25px;
    color: #737380;
    line-height: 32px;
}

.relatorio h4{
    font-size: 18px;
    padding-top: 20px;
}

.relatorio img {
    max-width: 30%;
    padding-top: 20px;
}

.relatorio table tr td{
    padding: 5px 10px;
}